{{extend 'layout.html'}}

<h1>Editar Persona</h1>
<form method="POST">
	ID: {{= miregistro.id}}
	<br>
	<label>Nombre: </label>
	<input type="text" name="nombre" value="{{= miregistro.nombre}}">
	<input type="submit" value="Actualizar">
</form>