{{extend 'layout.html'}}
<a href="{{=URL('persona','crear')}}">Crear</a>

<h2>Lista de personas</h2>
<table>
	<thead>
		<thead>Nombre</thead>
		<thead>Opciones</thead>
	</thead>
	<tbody>
		{{for registro in misregistros:}}
		<tr>
			<td>{{= registro.nombre}}</td>
			<td>
				<a href="{{= URL('persona','editar',args=registro.id)}}">Editar</a>
				<a href="javascript:eliminar({{= registro.id}})">Eliminar</a>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<script type="text/javascript">
	
	function eliminar(persona_id){
		$.ajax({
			url : "{{= URL('persona','eliminar')}}",
			type: "POST",
			data: {persona_id : persona_id},
			success: function(response){
				alert('Registro eliminado!');
			}
		});
	}


</script>

