{{extend 'layout.html'}}

<h1>Crear viaje</h1>
<form method="POST">
	<label>Persona que irá: </label>
		<select name="persona_va">
			<option value="">Seleccione una persona</option>
			{{for persona in personas:}}
				<option value="{{= persona.id}}">{{= persona.nombre}}</option>
			{{pass}}
		</select>
	<br><br>
	<label>Fecha: </label><input type="date" name="fecha">
	
	<input type="submit" value="Guardar">
</form>