{{extend 'layout.html'}}


<h1>Editar viaje</h1>
<form method="POST">
	ID: {{= miregistro.id}}
	<br>
	<label>Persona que irá: </label>
		<select name="persona_va">
			<option value="">Seleccione una persona</option>
			{{for persona in personas:}}
				<option value="{{= persona.id}}" 
					{{if miregistro.persona_id == persona.id:}}selected{{pass}}
				>
				{{= persona.nombre}}
				</option>
			{{pass}}
		</select>
	<br><br>
	<label>Fecha: </label><input type="date" name="fecha" 
		value="{{= miregistro.fecha.date().strftime('%Y-%m-%d')}}">
	
	<input type="submit" value="Actualizar">
</form>