{{extend 'layout.html'}}
<a href="{{=URL('viaje','crear')}}">Crear</a>

<h2>Lista de viajes</h2>
<table>
	<thead>
		<thead>Fecha</thead>
		<thead>Fué</thead>
		<thead>Opciones</thead>
	</thead>
	<tbody>
		{{for registro in misregistros:}}
		<tr>
			<td>{{= registro.fecha}}</td>
			<td>{{= registro.persona_id.nombre}}</td>
			<td>
				<a href="{{= URL('viaje','editar',args=registro.id)}}">Editar</a>
				<a href="javascript:eliminar({{= registro.id}})">Eliminar</a>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<script type="text/javascript">
	
	function eliminar(viaje_id){
		$.ajax({
			url : "{{= URL('viaje','eliminar')}}",
			type: "POST",
			data: {viaje_id : viaje_id},
			success: function(response){
				alert('Registro eliminado!');
			}
		});
	}


</script>