{{extend 'layout.html'}}

<h1>Agregar productos</h1>
<form method="POST">
	<label>Productos: </label>
		<select name="producto">
			<option value="">Seleccione un producto</option>
			{{for producto in productos:}}
				<option value="{{= producto.id}}">{{= producto.descripcion}}</option>
			{{pass}}
		</select>
	<br><br>
	<label>Cantidad: </label><input type="text" name="cantidad">
	
	<input type="submit" value="Guardar">
</form>