{{extend 'layout.html'}}


<h1>Aplicar compra del producto</h1>
<form method="POST">
	<input type="hidden" name="pedido_id" 
		value="{{= miregistro.pedido_id}}">
	ID: {{= miregistro.id}}
	<br>
	<label>Costo real del producto: </label><input type="text" name="costo" 
		value="{{= miregistro.costo}}">
		
	<input type="submit" value="Aplicar">
</form>