{{extend 'layout.html'}}

<h1>Crear viaje</h1>
<form method="POST">
	<label>Viajes: </label>
		<select name="viaje">
			<option value="">Seleccione un viaje</option>
			{{for viaje in viajes:}}
				<option value="{{= viaje.id}}">{{= viaje.id}}:{{= viaje.fecha}}:{{= viaje.persona_id.nombre}}</option>
			{{pass}}
		</select>
	<br><br>
	<label>Solicitante: </label>
		<select name="solicitante">
			<option value="">Seleccione una persona</option>
			{{for persona in personas:}}
				<option value="{{= persona.id}}">{{= persona.nombre}}</option>
			{{pass}}
		</select>
	<br><br>
	<label>Monto: </label><input type="text" name="monto">
	<br><br>
	<label>Comisión: </label><input type="text" name="comision">
	
	<input type="submit" value="Guardar">
</form>