{{extend 'layout.html'}}

<h2>Detalle del pedido</h2>

<label>Pedido: {{= pedido_sel.id}}</label>
<br>
<label>Solicitante: {{= pedido_sel.persona_id.nombre}}</label>
<br>
<label>Viaje: [{{= pedido_sel.viaje_id}}:{{= pedido_sel.viaje_id.fecha.date().strftime('%d/%m/%Y')}}:{{= pedido_sel.viaje_id.persona_id.nombre}}]</label>
<br><br>
<a href="{{=URL('pedido','add_producto',args=pedido_sel.id)}}">Agregar Producto</a>
<br>
<table>
	<thead>
		<thead>Producto</thead>
		<thead>Cantidad</thead>
		<thead>Costo</thead>
		<thead>Comprado</thead>
		<thead>Importe</thead>
		<thead>Opciones</thead>
	</thead>
	<tbody>
		{{ suma = 0}}{{ comprados = 0}}
		{{for registro in detalle:}}
		<tr>
			<td>{{= registro.producto_id.descripcion}}</td>
			<td>{{= registro.cantidad}}</td>
			<td>{{= registro.costo}}</td>
			<td>{{= registro.costo * registro.cantidad}}</td>
			{{ suma = suma + registro.costo * registro.cantidad}}
			<td>
				<input type="checkbox" {{if registro.comprado == True:}}checked
				{{ comprados = comprados + 1}}
				{{pass}} disabled>
			</td>
			<td>
				<a href="{{= URL('pedido','aplica_producto',args=registro.id)}}">Comprado</a>
				<a href="javascript:eliminar_producto({{= registro.id}})">Eliminar</a>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>
<h3>Cantidad de articulos comprados: {{= comprados}}</h3>
<h3>Importe del pedido: ${{= suma}}</h3>



<script type="text/javascript">

	function eliminar_producto(detalle_pedido_id){
		$.ajax({
			url : "{{= URL('pedido','del_producto')}}",
			type: "POST",
			data: {detalle_pedido_id : detalle_pedido_id},
			success: function(response){
				alert('Registro eliminado!');
			}
		});
	}


</script>