{{extend 'layout.html'}}


<h1>Editar pedido</h1>
<form method="POST">
	ID: {{= miregistro.id}}
	<br>
	<label>Viajes: </label>
		<select name="viaje">
			<option value="">Seleccione un viaje</option>
			{{for viaje in viajes:}}
				<option value="{{= viaje.id}}"
					{{if miregistro.viaje_id == viaje.id:}}selected{{pass}}
			>
			{{= viaje.id}}:{{= viaje.fecha}}:{{= viaje.persona_id.nombre}}</option>
			{{pass}}
		</select>
	<br><br>
	<label>Solicitante: </label>
		<select name="solicitante">
			<option value="">Seleccione una persona</option>
			{{for persona in personas:}}
				<option value="{{= persona.id}}" 
					{{if miregistro.persona_id == persona.id:}}selected{{pass}}
				>
				{{= persona.nombre}}
				</option>
			{{pass}}
		</select>
	<br><br>
	<label>Monto: </label><input type="text" name="monto" value="{{= miregistro.monto}}">
	<br><br>
	<label>Comisión: </label><input type="text" name="comision" value="{{= miregistro.comision}}">
	
	<input type="submit" value="Actualizar">
</form>