{{extend 'layout.html'}}
<a href="{{=URL('pedido','crear')}}">Crear</a>

<h2>Lista de pedidos</h2>
<table>
	<thead>
		<thead>Pedido</thead>
		<thead>Viaje</thead>
		<thead>Solicitante</thead>
		<thead>Monto</thead>
		<thead>Comision</thead>
		<thead>Opciones</thead>
		<thead>Detalle</thead>
		<thead>Solicitados</thead>
		<thead>Comprados</thead>
		<thead>Importe</thead>
		<thead>Cambio</thead>
	</thead>
	<tbody>
		{{for registro in misregistros:}}
		<tr>
			<td>{{= registro.id}}</td>
			<td>[{{= registro.viaje_id.id}}:{{= registro.viaje_id.fecha.date().strftime('%d/%m/%Y')}}:{{= registro.viaje_id.persona_id.nombre}}]</td>
			<td>{{= registro.persona_id.nombre}}</td>
			<td>{{= registro.monto}}</td>
			<td>{{= registro.comision}}</td>
			<td>
				<a href="{{= URL('pedido','editar',args=registro.id)}}">Editar</a>
				<a href="javascript:eliminar({{= registro.id}})">Eliminar</a>
			</td>
			<td><a href="{{= URL('pedido','detalle_pedido_index',args=registro.id)}}">Detalle</a
			</td>
			{{solicitados = db.executesql("Select count(1) hay From detalle_pedido Where pedido_id = " + str(registro.id))}}
			<td>{{= solicitados[0][0]}}</td>
			{{comprados = db.executesql("Select count(1), sum(costo*cantidad) From detalle_pedido Where comprado = 'T' And pedido_id = " + str(registro.id))}}
			<td>{{= comprados[0][0]}}</td>
			<td>${{= comprados[0][1]}}</td>
			<td>${{= registro.monto }}</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<script type="text/javascript">
	
	function eliminar(pedido_id){
		$.ajax({
			url : "{{= URL('pedido','eliminar')}}",
			type: "POST",
			data: {pedido_id : pedido_id},
			success: function(response){
				alert('Registro eliminado!');
			}
		});
	}


</script>