{{extend 'layout.html'}}

<h1>Crear producto</h1>
<form method="POST">
	<label>Descripción: </label><input type="text" name="descripcion">
	<label>Precio: </label><input type="text" name="precio">
	
	<input type="submit" value="Guardar">
</form>