{{extend 'layout.html'}}

<h1>Editar Producto</h1>
<form method="POST">
	ID: {{= miregistro.id}}
	<br>
	<label>Descripción: </label>
	<input type="text" name="descripcion" value="{{= miregistro.descripcion}}">
	<label>Precio: </label>
	<input type="text" name="precio" value="{{= miregistro.precio}}">
	
	<input type="submit" value="Actualizar">
</form>