{{extend 'layout.html'}}
<a href="{{=URL('producto','crear')}}">Crear</a>

<h2>Lista de productos</h2>
<table>
	<thead>
		<thead>Descripción</thead>
		<thead>Precio</thead>
		<thead>Opciones</thead>
	</thead>
	<tbody>
		{{for registro in misregistros:}}
		<tr>
			<td>{{= registro.descripcion}}</td>
			<td>{{= registro.precio}}</td>
			<td>
				<a href="{{= URL('producto','editar',args=registro.id)}}">Editar</a>
				<a href="javascript:eliminar({{= registro.id}})">Eliminar</a>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<script type="text/javascript">
	
	function eliminar(producto_id){
		$.ajax({
			url : "{{= URL('producto','eliminar')}}",
			type: "POST",
			data: {producto_id : producto_id},
			success: function(response){
				alert('Registro eliminado!');
			}
		});
	}


</script>